body {
  font-size: 18pt;
  font-family: sans-serif;
  background-color: #ccc;
  color: #666;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.visible {
  opacity: 1;
  transition: opacity 2s;
}

#status-message {
  background-color: #ffffee;
  margin: 1em;
  padding: 1em;
}

button {
  text-transform: uppercase;
  color: #444;
  font-size: 0.8em;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  font-family: futura, sans-serif;
  min-width: 44px;
  box-shadow: #444 0 0 4px;
}

.code-block {
  display: flex;
  background-color: #eee;
  padding: 1em;
  border: 1px #aaa solid;
}

.block-note,.unit-note {
  background-color: #ddd;
  padding: 0.5em;
}

.block-note:empty,.unit-note:empty {
  background-color: transparent;
}

.block-note {
  margin-left: 1em;
}

.code-unit {
  /* This is here so that when it
 * is selected and gets .selected-unit,
 * which puts a 2px border on, the size
 * of the space available inside of
 * .code-unit does not change, causing
 * a shifting to the write of the text
 * within .unit-text. */
  border: 2px dashed transparent;
}

.code-unit .main-row {
  display: flex;
  align-items: center;
  /* Necessary for .next-button child to be positioned absolutely. */
  position: relative;
}

.unit-text {
  margin: 0;
  flex-grow: 1;
}

.unit-note {
  box-sizing: border-box;
}

.unit-note:empty {
  padding: 0;
  height: 0;
}

.selected-unit {
  background-color: hsl(60, 80%, 60%);
  border: 2px dashed #444;
}

.selected-unit .unit-text {
}

.instruction {
  font-style: italic;
  margin: 1em;
  text-align: center;
}

.next-button {
  min-width: 4em;
  visibility: hidden;
  height: 0;
  position: absolute;
  right: 0;
}

.selected-unit > .main-row > .next-button {
  visibility: visible;
  height: 2em;
  background-color: hsla(0, 0%, 100%, 0.5);
}

.expandable {
  border: solid 2px black;
  cursor: pointer;
}

.expandable > .main-row::after {
  content: '↕';
}

#code-root {
  width: 60%;
  min-width: 40em;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}

